#Test{
    background-color: rgba(154, 177, 211, 0.167);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 72px;
    color: rgb(4, 1, 0);
  
}

#title1{
    /* background-color: rgba(154, 177, 211, 0.167); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 72px;
    color: rgb(4, 1, 0);
  
}

p{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    font-size: 50px;
    color: rgb(4, 1, 0);
    
}
p span {
    background-color:rgba(255, 240, 245, 0.75);
    
  }
#imageScaling
{
    display: flex;
    justify-content: center;

    width: 100%;
    
   
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.ad {
    border-radius: 5px;
    object-fit: contain;
    width: auto;
    height: 100%;
}



body{
    text-align: center;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  .button1 {
    background-color: rgb(57, 211, 83); 
    color: black; 
    border: 6px solid #012c03;
  }
  
  .button1:hover {
    background-color: #012702;
    color: white;
  }